<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxGa3dTb6UG3zQVMWLeDYJos7nhQPLl3k</string>
	<key>GCM_SENDER_ID</key>
	<string>573261496812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.middleapp</string>
	<key>PROJECT_ID</key>
	<string>middleapp-88634</string>
	<key>STORAGE_BUCKET</key>
	<string>middleapp-88634.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573261496812:ios:d30a55ed44e16aa4bf40c9</string>
</dict>
</plist>